page-gallery {
    ion-content {
        position: absolute;
    }
    
    .gallery-card ion-grid ion-row ion-col:first-child {
        margin-left: 0;
    }
    .gallery-card ion-grid ion-row:first-child ion-col {
        border-bottom: 1px solid #d7d6e1;
    }
    .gallery-card ion-grid ion-row ion-col {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 1.5rem;
        font-size: 1.5rem;
    }
    .gallery-card ion-grid .searchbar {
        padding: 0;
    }
    .gallery-card .searchbar {
        z-index: 1000;
    }
    
    
    .searchbar-md {
        background: inherit;
        padding: 8px;
    }
    ion-searchbar {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
    }
    .searchbar-input-container {
        position: relative;
        display: block;
        -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        width: 100%;
    }
    .searchbar-md .searchbar-md-cancel, .searchbar-md .searchbar-search-icon {
        position: absolute;
        background-repeat: no-repeat;
        background-size: 20px;
    }
    .searchbar-md .searchbar-md-cancel {
        left: 10px;
        top: 0;
        margin: 0;
        display: none;
        width: 21px;
        height: 100%;
    }
    .button-clear-md-dark {
        border-color: transparent;
        color: #412d61;
        background-color: transparent;
    }
    .button-clear-md {
        border-color: transparent;
        color: #563d7c;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: 1;
    }
    
    .searchbar-md .searchbar-clear-icon {
        right: 13px;
        top: 0;
        background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20512%20512'><polygon%20fill='%235b5b5b'%20points='405,136.798%20375.202,107%20256,226.202%20136.798,107%20107,136.798%20226.202,256%20107,375.202%20136.798,405%20256,285.798%20375.202,405%20405,375.202%20285.798,256'/></svg>");
        padding: 0;
        background-position: center;
        position: absolute;
        width: 22px;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 22px;
    }
    .searchbar-clear-icon {
        margin: 0;
        padding: 0;
        display: none;
        min-height: 0;
    }
    .searchbar-md .searchbar-ios-cancel {
        display: none;
    }
    .gallery-card ion-grid .searchbar.searchbar-md .searchbar-input {
        -webkit-box-shadow: inset 0 0 8px rgba(86,61,124,.25), 0 6px 0 #563d7c;
        box-shadow: inset 0 0 8px rgba(86,61,124,.25), 0 6px 0 #563d7c;
    }
    .gallery-card ion-grid .searchbar .searchbar-input {
        color: #563d7c;
        border-radius: 1rem;
    }
    .searchbar-input {
        -moz-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        border: 0;
        font-family: inherit;
    }
    .header-md::after{
        background-image: none;
    }
    .header-ios .toolbar-ios:last-child .toolbar-background-ios {
        border-width: 0px;
    }
    .searchbar-ios .searchbar-search-icon{
        margin-left:0px !important;
    }
    .searchbar-ios .searchbar-input{
        padding-left: calc(35% - 40.5px) !important;
    }
    
    .gallery-card .guests {
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        border-bottom-color: transparent;
    }

    .gallery-card .bb {
        border-bottom: 1px solid rgba(86,61,124,.1);
    }
    .gallery-card .guests .item {
        font-size: 1.25rem;
        padding-left: 0;
        border: 0;
    }
    .gallery-card .guests .item .item-inner {
        padding: 0;
    }
    .gallery-card .guests .item .label {
        color: #563d7c;
        margin-right: 0;
    }
    .item-md {
        padding-left: 16px;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: 400;
        text-transform: none;
        color: rgba(86,61,124,.75);
        background-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color .3s cubic-bezier(.4,0,.2,1);
        transition: background-color .3s cubic-bezier(.4,0,.2,1);
    }
    .item-block {
        margin: 0;
        padding: 0;
        text-align: initial;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        min-height: 4.4rem;
        border: 0;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
        color: inherit;
    }
    .item {
        contain: content;
    }
    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: 1px solid #dedede;
    }
    .item-inner {
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-orient: inherit;
        -webkit-box-direction: inherit;
        -webkit-flex-direction: inherit;
        -ms-flex-direction: inherit;
        flex-direction: inherit;
        -webkit-box-align: inherit;
        -webkit-align-items: inherit;
        -ms-flex-align: inherit;
        align-items: inherit;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        min-height: inherit;
        border: 0;
    }
    .input-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-orient: inherit;
        -webkit-box-direction: inherit;
        -webkit-flex-direction: inherit;
        -ms-flex-direction: inherit;
        flex-direction: inherit;
        -webkit-box-align: inherit;
        -webkit-align-items: inherit;
        -ms-flex-align: inherit;
        align-items: inherit;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        text-overflow: ellipsis;
    }
    .item-select .label-md {
        color: #999;
    }
    .label-md {
        margin: 13px 8px 13px 0;
    }
    ion-label {
        margin: 0;
        display: block;
        overflow: hidden;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        font-size: inherit;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .card-content{
        background-color: beige;
    }




}
