page-detail-image {
    // .scroll-content {
    //     margin-top: 0!important;
    // }
    // ion-header {
    //     .toolbar {
    //         position: absolute;
    //         .toolbar-background {
    //             background-color: rgba(86,61,124,.85);
    //             // background: #412d61;
    //         }
    //     }
    // }
    .button-clear-md-dark, .button-clear-ios-dark {
        border-color: transparent;
        color: #412d61;
        background-color: transparent;
    }
    .button-clear-md, .button-clear-ios {
        border-color: transparent;
        color: #563d7c;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: 1;
    }
    .card-content{
        background-color: beige;
    }

}
